# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Production Outputs
dist/
dist-ssr/

# Environment & Local Files
.env
.env.*
!.env.example
*.local

# Editor & System Files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
